extends layouts/main.pug 
include mixins/videoBlock

block content
    .videos
        each item in videos
            +videoBlock({
                id:item.id, title: item.title, views: item.views, fileUrl: item.videoFile})


//- extends layouts/main.pug 뜻은 ./layouts/main.pug 파일을 복붙해서 가져오겠다는 뜻이다
//-  pageTitle: 'Home'을 받으면 extends한 main.pug에서 쓸 수 있다. 