doctype html
html
    head   
        script(src="https://kit.fontawesome.com/c26bdc350a.js", crossorigin="anonymous")
        title Wetube
    body
        include ../partials/header
        main
            block content
        include ../partials/footer
           


//- block안에 화면의 내용들이 채워질것임
//- 나중가면 템플릿이 매우 많아지고 모든 pug템플릿에 footer내용이 하나 바뀌면 다바꿔줘야되기때문에 
//- 큰틀이되는 레이아웃을 하나 만들고 여기서 관리하게한다
//- partials안에 있는 footer.pug를 쓰고 싶으면 include 파일위치 를 해주면 된다