.social-login
    button.social-login--github
        span
            i.fab.fa-github
        |Continue with Github
        //- |는 안에 들어간것들을 텍스트로 바꿔준다.
    button.social-login--facebook
        span
            i.fab.fa-facebook
        |Continue with Facebook
        
